.pro_show{
    background-color:#f7f7f7;
    padding:50px 0;
}

#focus_Box{position:relative;width:240px;height:345px;margin:50px auto;}
#focus_Box ul{position:relative;width:710px;height:308px}
#focus_Box li{z-index:0;position:absolute; width:0px;background:#787878;height:0px;top:146px;cursor:pointer;left:377px;border-radius:4px;box-shadow: #787878 0px 4px 10px 1px;}
#focus_Box li img{width:100%;background:url(/website/img/loading.gif) no-repeat center 50%;height:100%;vertical-align:top}

#focus_Box li p{ display:none;position:absolute;left:0;width:100%; top:-50px; text-align:center; font-size:14px; color:#666666;font-weight:bold;}
#focus_Box li:nth-child(3) p{ display:block;}


#focus_Box .prev,#focus_Box .next{display:none;z-index:100;overflow:hidden;cursor:pointer;position:absolute;width:30px;height:110px;top:117px;}
.pro_show:hover #focus_Box .prev,.pro_show:hover #focus_Box .next{ display:block;}
#focus_Box .next{
    right:-237px;
}
#focus_Box .prev{
    left:-237px;
}
#focus_Box .prev:before,#focus_Box .next:before {
  left: 0;
  top: 0;
  width: 30px;
  height: 110px;
  display: block;
  line-height: 110px;
  text-align: center;
  font-family: 'revicons';
  font-size: 20px;
  position: absolute;
  background: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#focus_Box .prev:hover:before,#focus_Box .next:hover:before{
    background: rgba(0, 0, 0, 0.25);
}
#focus_Box .next:before{
    content: '\e825';
}
#focus_Box .prev:before{
    content: '\e824';
}

.pro_features{
    background:url(/website/img/feature_bg.jpg?r=1234) repeat-x;
    padding:50px 0 100px 0;
    background-color:#f7f7f7;
}

.pro_area{
    padding:50px 0;
    background-color:#ffffff;
}

.pro_area .pro_list{
        overflow:hidden;
    }
    .pro_area .pro_list a{
        display:block;
        overflow:hidden;
        width:100%;
        margin-top:30px;
        position:relative;
    }
        .pro_area .pro_list a img {
            width:100%;
        }
        .pro_area .pro_list a p{
            display:none;
            position:absolute;
            width:100%;
            height:100%;
            left:0;
            top:0;
            text-align:center;
            padding:0;
            margin:0;
            padding-top:25%;
            z-index:10;
            color:#fff;
            font-size:14px;
            font-weight:bold;
        }
        .pro_area .pro_list a p label{
            color:#00d247;
            font-weight:bold;
        }
        .pro_area .pro_list a:hover p{
            display:block;
        }
        .pro_area .pro_list a:hover p:after{
            position:absolute;
            content:' ';
            display:block;
            width:100%;
            height:100%;
            left:0;
            top:0;
            background-color:#000;
            z-index:-1;
            opacity:.5;

        }

        .pro_customer{
            padding-top:72px;
        }
        .aboutus{
            padding-bottom:60px;
        }
        .about_content img{
            float:left;
            margin-right:30px;
        }
        .about_content p{
            text-indent:25px;
            color:#939393;
            font-size:14px;
        }
        .about_content p.about_title{
            font-weight:bold;
            font-size:14px;
            color:#018997;
        }
        .news .news_title{
            font-size:16px;
            font-weight:bold;
            color:#018997;
            height:45px;
            line-height:45px;
            border-bottom:1px solid #c6c6c6;
            margin-bottom:25px;
            position:relative;
        }
        .news .news_title:before{
            content:' ';
            display:block;
            width:140px;
            height:1px;
            border:0;
            background-color:#006869;
            position:absolute;
            bottom:-1px;
            left:0;
        }
        .news .news_title a{
            float:right;
            color:#5c5c5c;
            font-size:14px;
            text-decoration:none;
        }
        .news .news_no1{
            overflow:hidden;
        }
        .news .news_no1 img{
            float:left;
            margin-right:25px;
        }
        .news .news_no1 p{
            margin:0;
            padding:0;
        }
        .news .news_no1 .p1{
            font-size:14px;
            color:#018997;
        }
        .news .news_no1 .p2{
            margin:20px 0;
            font-size:12px;
            color:#5d5d5d;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
        .news .news_no1 .p3 a{
            font-size:12px;
            color:#018997;
            text-decoration:none;
        }
        .news ul{
            list-style:none;
            margin:0;
            padding:0;
        }
        .news ul li a{
            color:#5d5d5d;
            font-size:12px;
            display:block;
            width:100%;
            height:30px;
            line-height:30px;
            text-decoration:none;
        }
        .news ul li a label{
            color:#ff6c08;
            margin-right:5px;
        }
        .news ul li a span{
            float:right;
        }
        .qa_div .qa_title{
            font-size:16px;
            font-weight:bold;
            color:#018997;
            height:45px;
            line-height:45px;
            margin-bottom:25px;
        }
        .qa_div dl{
            border-bottom:1px dashed #a6a6a6;
            padding-bottom:25px;
            overflow:hidden;
            padding-top:15px;
        }
        .qa_div dl dt,.qa_div dl dd{
            font-size:12px;
            color:#858585;
        }
        .qa_div dl dt span,.qa_div dl dd span{
            display:inline-block;
            width:20px;
            height:20px;
            text-align:center;
            line-height:20px;
            margin-right:10px;
            color:#fff;
            font-weight:bold;
        }
        .qa_div dl dt span{
            background-color:#008594;
        }
        .qa_div dl dd span{
            background-color:#fc9300;
        }