.search_div{
    border-top:18px solid #e6e5ea;
    background-color:#f7f7f7;
    overflow:hidden;
    padding-top:25px;
    padding-bottom:25px;
}
.search_div .search_input_div{
    height:40px;
    line-height:40px;
}
.search_div .search_input_div input[type=text]{
    height:40px;
    line-height:40px;
    border:0;
    padding:6px 12px;
    outline:none;
    color:#999999;
    width:88%;
}
.search_div .search_input_div button{
    border:0;
    background: -webkit-linear-gradient(left, #80c4cb , #9fd7b6); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #80c4cb, #9fd7b6); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #80c4cb, #9fd7b6); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #80c4cb , #9fd7b6); /* 标准的语法 */
    color:#fff;
    width:12%;
    height:40px;
}