@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<script type="text/javascript">
    $(function () {
        $(".nav_div a").eq(8).addClass("cur");
    });
</script>
<link href="/website/banner/css/banner.css" type="text/css" rel="stylesheet" media="all" />
<link href="/website/banner/css/animate.min.css" type="text/css" rel="stylesheet" media="all" />
<script type="text/javascript" src="/website/banner/js/banner.js"></script>
<script type="text/javascript">
    $(function () {
        $("#banner").THBanner();
    });
</script>
<div id="banner" class="banner" style="overflow:hidden;">
    <div class="banner-item animated" data-classin="fadeIn" data-classout="fadeOut delay10" data-time="400">
        <div class="banner-img" style="background-image:url(/website/img/banner.jpg)"></div>
        <div class="banner-text vbox box-h-center box-v-center">
        </div>
    </div>
    <div class="banner-item animated" data-classin="fadeIn" data-classout="fadeOut delay10" data-time="400">
        <div class="banner-img" style="background-image:url(/website/img/banner.jpg)"></div>
        <div class="banner-text vbox box-h-center box-v-center">
        </div>
    </div>
    <div class="banner-tool">
    </div>
</div>
<style type="text/css">
    .aboutul{
        height:40px;
        background: -webkit-linear-gradient(left, #018997, #41af6d);
        background: -o-linear-gradient(right, #018997, #41af6d);
        background: -moz-linear-gradient(right, #018997, #41af6d);
        background: linear-gradient(to right, #018997, #41af6d);
        display: block;
        float: left;
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top:90px;
        margin-bottom:90px;
        border-radius:8px;
    }
    .aboutul li{
        display:block;
        width:12.5%;
        height:40px;
        line-height:40px;
        text-align:center;
        float:left;
    }
    .aboutul li a{
        color:#ffffff;
        font-size:14px;
        text-decoration:none;
        position:relative;
    }
    .aboutul li a:hover,.aboutul li a.cur{
        font-weight:bold;
    }
        .aboutul li a:hover:after, .aboutul li a.cur::after {
            content:' ';
            display:block;
            height:3px;
            width:30px;
            margin:0 auto;
            margin-top:-10px;
            background-color:#fff;
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <ul class="aboutul">
                <li><a href="/Home/AboutUs/1">联系我们</a></li>
                <li><a href="/Home/AboutUs/2">仓储配送</a></li>
                <li><a href="/Home/AboutUs/3">皇闽视频</a></li>
                <li><a href="/Home/AboutUs/4">加工工艺</a></li>
                <li><a href="/Home/AboutUs/5">企业文化</a></li>
                <li><a href="/Home/AboutUs/6">荣誉资质</a></li>
                <li><a href="/Home/AboutUs/7">员工风采</a></li>
                <li><a class="cur" href="/Home/Comment">在线留言</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3 style="text-align:center;"><label style="border-bottom:3px solid #d5d4da;padding-bottom:5px;">在线留言</label></h3>
        </div>
    </div>
</div>
<div style="background:url(/website/img/comment_bg.jpg) no-repeat;width:100%;background-size:100%;">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top:120px;margin-bottom:140px;">
                <textarea id="txtContent" class="form-control" maxlength="500" placeholder="请输入您的留言" style="min-height:180px;margin-bottom:15px;"></textarea>
                <div style="overflow:hidden;padding:5px 0;margin-bottom:80px;">
                    <img id="img1" src="/Image/ValidateCode" onclick="$(this).attr('src', '/Image/ValidateCode?r=' + new Date().getTime())" style="float:left; height:34px;margin-right:10px;" />
                    <input type="number" id="txtCode" placeholder="请填写验证码*" class="form-control" style="width:160px;float:left;" />
                </div>
                <button class="bluebtn" id="btnSubmit" type="button" onclick="submitForm()" style="display:block;width:275px; height:55px; line-height:55px; font-size:16px;color:#fff;background: -webkit-linear-gradient(left, #018997, #41af6d);
    background: -o-linear-gradient(right, #018997, #41af6d);
    background: -moz-linear-gradient(right, #018997, #41af6d);
    background: linear-gradient(to right, #018997, #41af6d); text-decoration:none;text-align:center;margin:0 auto;border:0;">
                    提交
                </button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function submitForm() {
        $("#btnSubmit").attr("disabled", "disabled");
        var content = $("#txtContent").val();
        var code = $("#txtCode").val();
        if (!content) {
            alert("请填写您要留言的内容！");
            return;
        }
        if (!code) {
            alert("请填写验证码！");
            return;
        }
        $.post("/Home/SubmitComment", { content: content, code: code }).done(function (d) {
            $("#btnSubmit").removeAttr("disabled");
            if (d.ok) {
                alert("提交成功！");
                resetForm();
            } else {
                if (!!d.error) {
                    alert(d.error);
                } else {
                    alert("提交失败！");
                }
            }
        });
    }
</script>