 *{
    font-family:'Microsoft YaHei' !important;
}
body,html{
    background-color:#f8f8f8;
}
.logo_div{
    padding-top:15px;
    padding-bottom:15px;
}
.nav_div{
    background: -webkit-linear-gradient(left, #026e79 , #338c57); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #026e79, #338c57); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #026e79, #338c57); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #026e79 , #338c57); /* 标准的语法 */

}
.nav_div table{
    width:100%;
}
.nav_div table tr td{
    text-align:center;
}
.nav_div table tr td a{
    display:inline-block;
    padding-top:15px;
    padding-bottom:15px;
    text-align:center;
    width:100%;
}
.nav_div table tr td a:hover,.nav_div table tr td a.cur{
    background: -webkit-linear-gradient(left, #018997 , #3eae6e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #018997, #3eae6e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #018997, #3eae6e); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #018997 , #3eae6e); /* 标准的语法 */
}

.foot_div{
    background-color:#323232;
    height:269px;
}
.foot_div ul{
    list-style:none;margin:0;padding:0;
}
.foot_div ul{
    width:100%;
    display:block;
}
.foot_div ul li{
    margin-top:25px;
    margin-bottom:25px;
}
.foot_div ul li a{
    color:#ffffff;
    text-decoration:none;
    padding:0 10px;
}
.foot_div ul li{
    float:left;
}
.foot_div .foot_right_bottom p{
    font-size:14px;
    color:#666666;
}
.foot_div .foot_right_bottom img{
    float:right;
    width:115px;
}
@media only screen and (max-width: 1024px) {
    .nav_div table tr td a img {
        width:90%;
    }
}
